body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

header {
  padding-bottom: 40px;
  font-family: "Gilroy", sans-serif;
}

header .nav {
  width: 100%;
  background-color: red;
  height: 130px;
  display: flex;
  box-shadow: 0px 3px 10px gray;
}

header .nav .nav__left {
  background-color: white;
  flex: 1 1 20%;
}

header .nav .nav__left a .nav__logo {
  height: 170px;
  width: auto;
}

header .nav .nav__right {
  background-color: white;
  flex: 1 1 80%;
}

header .nav .nav__right .nav__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 500px;
  padding-right: 40px;
  padding-top: 46px;
}

header .nav .nav__right .nav__list .nav__item .active {
  color: black;
  font-weight: 700;
}

header .nav .nav__right .nav__list .nav__item a {
  color: #7510F7;
  text-decoration: none;
  font-size: 20px;
}

header .nav .nav__right .nav__list .nav__item .nav__btn {
  padding: 10px 20px;
  border-radius: 50px;
  color: 7510F7;
  border: 3px solid #7510F7;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

header .header .header__img {
  background-image: url("/images/thenewguy887-01.png");
  /* The image used */
  background-color: transparent;
  /* Used if the image is unavailable */
  height: 500px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: 711px auto;
  /* Resize the background image to cover the entire container */
}

header .header .header__text {
  text-align: center;
  font-size: 70px;
  color: #7510F7;
  font-weight: 700;
}

header .header .header__social .header__list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header .header .header__social .header__list .header__item {
  justify-content: space-between;
  display: flex;
}

header .header .header__social .header__list .header__item .header__btn svg {
  height: 113px;
}

.footer {
  padding: 212px 0 100px 0;
  background-color: #7510F7;
}

.footer .footer__wrapper {
  max-width: 69%;
  margin: 0 auto;
}

.footer .footer__wrapper .footer__upper {
  display: flex;
}

.footer .footer__wrapper .footer__upper .footer__one {
  flex: 1 1 20%;
}

.footer .footer__wrapper .footer__upper .footer__one .footer__list {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.footer .footer__wrapper .footer__upper .footer__one .footer__list .footer__item {
  padding: 10px 0;
  list-style-type: none;
  padding: 0;
}

.footer .footer__wrapper .footer__upper .footer__one .footer__list .footer__item svg {
  height: 210px;
  width: auto;
}

.footer .footer__wrapper .footer__upper .footer__one .footer__list .footer__item--description {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.footer .footer__wrapper .footer__upper .footer__two {
  flex: 1 1 25%;
}

.footer .footer__wrapper .footer__upper .footer__two .footer__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
}

.footer .footer__wrapper .footer__upper .footer__two .footer__list .footer__item {
  padding: 10px 0;
  list-style-type: none;
}

.footer .footer__wrapper .footer__upper .footer__two .footer__list .footer__item--text {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.footer .footer__wrapper .footer__upper .footer__two .footer__list .footer__item--title {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  font-family: "Gilroy", sans-serif;
}

.footer .footer__wrapper .footer__upper .footer__three {
  flex: 1 1 25%;
}

.footer .footer__wrapper .footer__upper .footer__three .footer__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
}

.footer .footer__wrapper .footer__upper .footer__three .footer__list .footer__item {
  padding: 10px 0;
  list-style-type: none;
}

.footer .footer__wrapper .footer__upper .footer__three .footer__list .footer__item--text {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.footer .footer__wrapper .footer__upper .footer__three .footer__list .footer__item--title {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  font-family: "Gilroy", sans-serif;
}

.footer .footer__wrapper .footer__upper .footer__three .footer__list .footer__item .footer__social .footer__list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer .footer__wrapper .footer__upper .footer__three .footer__list .footer__item .footer__social .footer__list .footer__item {
  justify-content: space-between;
  display: flex;
}

.footer .footer__wrapper .footer__upper .footer__three .footer__list .footer__item .footer__social .footer__list .footer__item .footer__btn svg {
  height: 70px;
}

.footer .footer__wrapper .footer__upper .footer__four {
  flex: 1 1 25%;
}

.footer .footer__wrapper .footer__upper .footer__four .footer__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
}

.footer .footer__wrapper .footer__upper .footer__four .footer__list .footer__item {
  padding: 10px 0;
  list-style-type: none;
}

.footer .footer__wrapper .footer__upper .footer__four .footer__list .footer__item--text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.footer .footer__wrapper .footer__upper .footer__four .footer__list .footer__item--text a {
  color: white;
}

.footer .footer__wrapper .footer__upper .footer__four .footer__list .footer__item--title {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  font-family: "Gilroy", sans-serif;
}

.footer .footer__wrapper .footer__lower {
  display: flex;
}

.footer .footer__wrapper .footer__lower .footer__list {
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.footer .footer__wrapper .footer__lower .footer__list .footer__item {
  padding-left: 0;
}

.footer .footer__wrapper .footer__lower .footer__list .footer__item--text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.footer .footer__wrapper .footer__lower .footer__list .footer__item a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

@media (max-width: 767px) {
  .footer .footer__lower .footer__list {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  .footer__item--description {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 100px 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .footer__upper {
    display: flex;
    flex-wrap: wrap;
  }

  .footer .footer__upper .footer__one .footer__list {
    align-items: center;
  }

  .footer .footer__upper .footer__two .footer__list {
    align-items: center;
  }

  .footer .footer__upper .footer__three .footer__list {
    align-items: center;
  }

  .footer .footer__upper .footer__four .footer__list {
    align-items: center;
  }

  .footer .footer__lower {
    display: flex;
    padding: 0 23px;
  }
}

@media (max-width: 1024px) {
  .footer .footer__lower {
    display: flex;
    padding: 0 23px;
  }

  .footer {
    padding: 100px 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .footer__upper {
    display: flex;
  }

  .footer .footer__upper .footer__one {
    flex: 1 1 100%;
  }

  .footer .footer__upper .footer__two {
    flex: 1 1 100%;
  }

  .footer .footer__upper .footer__three {
    flex: 1 1 100%;
  }

  .footer .footer__upper .footer__four {
    flex: 1 1 100%;
  }
}

@media (max-width: 1440px) {
  .footer .footer__upper .footer__three .footer__list .footer__item .footer__social .footer__list .footer__item .footer__btn svg {
    height: 47px;
  }
}

main {
  border-top: 1px solid #E6ECF8;
}

.bloks {
  max-width: 69%;
  margin: auto;
  background-color: white;
  padding: 40px;
}

.bloks .bloks__wrapper {
  text-align: center;
}

.bloks .bloks__wrapper .bloks__title {
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-family: "Gilroy", sans-serif;
  font-size: 30px;
}

.bloks .bloks__wrapper .bloks__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bloks .bloks__wrapper .bloks__list .bloks__item {
  flex: 1 1 33.3333%;
  padding: 0 30px;
}

.bloks .bloks__wrapper .bloks__list .bloks__item .bloks__content .bloks__item {
  text-align: center;
}

.bloks .bloks__wrapper .bloks__list .bloks__item .bloks__content .bloks__item svg {
  height: 100px;
  width: auto;
}

@media (max-width: 767px) {
  .bloks .bloks__wrapper .bloks__list .bloks__item {
    flex: 1 1 33.3333%;
    padding: 0px;
  }
}

.projects * {
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
}

.projects .project__wrapper {
  padding: 50px 0;
  max-width: 80%;
  margin: 0 auto;
}

.projects .project__wrapper--title {
  color: black;
  text-align: center;
  padding: 71px 0;
}

.projects .project__wrapper--title h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.projects .project__wrapper--title p span {
  color: #7510F7;
  font-weight: 700;
}

.projects .project__wrapper--bottom {
  text-align: center;
  padding: 90px 0 10px 0;
}

.projects .project__wrapper--bottom .projects2__btn {
  padding: 12px 40px;
  border-radius: 50px;
  color: #7510F7;
  border: 3px solid #7510F7;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}

.projects .project__wrapper .projects__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.projects .project__wrapper .projects__list .projects__item {
  padding: 10px 10px;
  flex: 1 1 33%;
}

.projects .project__wrapper .projects__list .projects__item .projects__content {
  position: relative;
}

.projects .project__wrapper .projects__list .projects__item .projects__content .projects__card .projects__top {
  border-radius: 12px;
  background-image: url("/images/ultraviolet.jpg");
  /* The image used */
  height: 300px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
}

.projects .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #141c3a;
}

.projects .projects__content:hover .overlay {
  opacity: 1;
}

.projects .text {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 31%;
  left: 50%;
  right: -24%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.projects .projects__btn {
  padding: 10px 40px;
  border-radius: 50px;
  color: white;
  border: 3px solid #7510F7;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.startup {
  height: 526px;
  background-color: #7510F7;
}

.startup * {
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
}

.startup .startup__wrapper .startup__content {
  padding: 100px 0;
}

.startup .startup__wrapper .startup__content .startup__top .startup__title {
  padding: 20px 0;
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.startup .startup__wrapper .startup__content .startup__text {
  text-align: center;
  color: white;
}

.startup .startup__wrapper .startup__content .startup__bloks {
  position: relative;
  max-width: 90%;
  margin: 0 auto;
}

.startup .startup__wrapper .startup__content .startup__bloks .startup__list {
  position: absolute;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-left: 0;
  top: 81px;
  z-index: 999;
  flex-wrap: wrap;
}

.startup .startup__wrapper .startup__content .startup__bloks .startup__list .startup__item {
  padding: 0px 30px;
  flex: 1 1 33.3333%;
  padding-bottom: 40px;
}

.startup .startup__wrapper .startup__content .startup__bloks .startup__list .startup__item .startup__content {
  box-shadow: 0px 0px 4px grey;
  background-color: white;
  border-radius: 12px;
  padding: 30px 20px;
}

.startup .startup__wrapper .startup__content .startup__bloks .startup__list .startup__item .startup__content .startup__title {
  min-height: 130px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.startup .startup__wrapper .startup__content .startup__bloks .startup__list .startup__item .startup__content .startup__description {
  text-align: center;
}

.startup .startup__wrapper .startup__content .startup__bloks .startup__list .startup__item .startup__content .startup__progress {
  padding-top: 25px;
  text-align: center;
  color: #7510F7;
  font-weight: 500;
  padding-bottom: 38px;
}

.investing * {
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
}

.investing .investing__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 713px;
}

.investing .investing__wrapper .investing__content {
  text-align: center;
}

.investing .investing__wrapper .investing__content .investing__title {
  text-align: center;
}

.investing .investing__wrapper .investing__content .investing__title h1 {
  font-size: 30px;
  font-weight: 700;
}

.investing .investing__wrapper .investing__content .investing__text {
  text-align: center;
  padding-bottom: 50px;
}

.investing .investing__wrapper .investing__content .investing__btn {
  padding: 14px 40px;
  border-radius: 50px;
  color: #7510F7;
  background-color: transparent;
  border: 3px solid #7510F7;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.banner {
  font-family: "Gilroy", sans-serif;
  background-color: white;
  height: 363px;
  position: relative;
}

.banner .banner__banner {
  position: absolute;
  bottom: -108px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.banner .banner__banner .banner__wrapper {
  height: 200px;
  background-color: #141C3A;
}

.banner .banner__banner .banner__wrapper .banner__content {
  height: 100%;
}

.banner .banner__banner .banner__wrapper .banner__content .banner__list {
  padding-top: 40px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.banner .banner__banner .banner__wrapper .banner__content .banner__list .banner__item h1 {
  color: white;
  font-size: 40px;
}

.banner .banner__banner .banner__wrapper .banner__content .banner__list .banner__item p {
  font-style: italic;
  color: white;
  text-align: center;
  font-size: 22px;
}

.banner .banner__banner .banner__wrapper .banner__content .banner__list .banner__item .banner__btn {
  margin-top: 20px;
  padding: 11px 40px;
  border: 3px solid #7510F7;
  border-radius: 100px;
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: 500;
  background-color: transparent;
}

@media (max-width: 767px) {
  main .banner .banner__text .banner__text--h1 {
    font-size: 37px;
  }

  .banner .banner__text .banner__text--btn {
    font-size: 16px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 768px) {
  main .banner .banner__text .banner__text--h1 {
    font-size: 50px;
  }

  .banner .banner__text .banner__text--btn {
    font-size: 16px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .banner .banner__text .banner__text--h1 {
    font-size: 60px;
  }
}

