body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.nav {
  background-color: white;
  box-shadow: 0px 3px 8px gray;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.nav .nav__left {
  flex: 1 1 15%;
}

.nav .nav__left .nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav .nav__left .nav__list .nav__item {
  flex: 1 1 auto;
  list-style-type: none;
}

.nav .nav__left .nav__list .nav__item a {
  position: absolute;
  top: 10px;
}

.nav .nav__left .nav__list .nav__item a svg {
  height: 310px;
  width: auto;
}

.nav .nav__center {
  flex: 1 1 50%;
}

.nav .nav__center .nav__list {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.nav .nav__center .nav__list .nav__item {
  flex: 1 1 auto;
  list-style-type: none;
}

.nav .nav__center .nav__list .nav__item a {
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
  font-size: 19px;
  color: black;
  text-decoration: none;
}

.nav .nav__right {
  flex: 1 1 15%;
}

.nav .nav__right .nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}

.nav .nav__right .nav__list .nav__item {
  flex: 1 1 auto;
  list-style-type: none;
}

.nav .nav__right .nav__list .nav__item .nav__btn {
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  border-radius: 6px;
  background-image: linear-gradient(to left, #FFC312, #EE5A24, #FFC321);
  text-decoration: none;
  background-size: 200%;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
  transition: 0.6s;
}

.nav .nav__right .nav__list .nav__item .nav__btn:hover {
  background-position: right;
}

.nav .nav__right .nav__list .nav__item .nav__btn--style {
  box-shadow: 0px 3px 8px gray;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.header {
  background-image: url("/images/ultraviolet.jpg");
  /* The image used */
  height: 700px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

@media (max-width: 767px) {
  header body .nav .nav__left .nav__list .nav__item a {
    position: absolute;
    top: -2px;
    left: -8px;
  }

  body .nav .nav__left .nav__list .nav__item a svg {
    height: 88px;
    width: auto;
  }

  body .nav .nav__center .nav__list {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    align-items: flex-start;
    margin: 0;
    height: 100%;
    flex-direction: column;
  }

  .nav {
    background-color: white;
    box-shadow: 0px 3px 8px grey;
    height: 300px;
    display: flex;
    padding-left: 10px;
    position: relative;
  }

  .nav .nav__left .nav__list {
    margin-top: 27px;
  }

  .nav .nav__left {
    flex: 1 1 100%;
  }

  .nav .nav__center {
    flex: 1 1 100%;
  }

  .nav .nav__right {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .nav .nav__right .nav__list {
    padding-left: 0px;
  }

  .nav .nav__right .nav__list .nav__item .nav__btn {
    padding: 14px 21px;
  }

  body .nav .nav__left .nav__list .nav__item a {
    position: absolute;
    top: 10px;
    left: -21px;
  }
}

@media (max-width: 1024px) {
  .nav .nav__left .nav__list .nav__item a {
    position: absolute;
    top: 10px;
    left: 3px;
  }
}

@media (max-width: 1440px) {
  .nav .nav__left .nav__list .nav__item a {
    position: absolute;
    top: 10px;
    left: 36px;
  }

  .nav .nav__left .nav__list .nav__item a svg {
    height: 196px;
    width: auto;
  }
}

@media (max-width: 2560px) {
  .nav .nav__center .nav__list {
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (min-width: 2561px) {
  .nav .nav__center .nav__list {
    flex-wrap: wrap;
    align-items: center;
  }
}

.footer {
  padding: 100px 0;
  max-width: 69%;
  margin: 0 auto;
}

.footer .footer__upper {
  display: flex;
}

.footer .footer__upper .footer__one {
  flex: 1 1 20%;
}

.footer .footer__upper .footer__one .footer__list {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.footer .footer__upper .footer__one .footer__list .footer__item {
  padding: 10px 0;
  list-style-type: none;
  padding: 0;
}

.footer .footer__upper .footer__one .footer__list .footer__item svg {
  height: 210px;
  width: auto;
}

.footer .footer__upper .footer__one .footer__list .footer__item--description {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.footer .footer__upper .footer__two {
  flex: 1 1 25%;
}

.footer .footer__upper .footer__two .footer__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
}

.footer .footer__upper .footer__two .footer__list .footer__item {
  padding: 10px 0;
  list-style-type: none;
}

.footer .footer__upper .footer__two .footer__list .footer__item--text {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.footer .footer__upper .footer__two .footer__list .footer__item--title {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-family: "Gilroy", sans-serif;
}

.footer .footer__upper .footer__three {
  flex: 1 1 25%;
}

.footer .footer__upper .footer__three .footer__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
}

.footer .footer__upper .footer__three .footer__list .footer__item {
  padding: 10px 0;
  list-style-type: none;
}

.footer .footer__upper .footer__three .footer__list .footer__item--text {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.footer .footer__upper .footer__three .footer__list .footer__item--title {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-family: "Gilroy", sans-serif;
}

.footer .footer__upper .footer__three .footer__list .footer__item .footer__social .footer__list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer .footer__upper .footer__three .footer__list .footer__item .footer__social .footer__list .footer__item {
  justify-content: space-between;
  display: flex;
}

.footer .footer__upper .footer__three .footer__list .footer__item .footer__social .footer__list .footer__item .footer__btn svg {
  height: 70px;
}

.footer .footer__upper .footer__four {
  flex: 1 1 25%;
}

.footer .footer__upper .footer__four .footer__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  padding-left: 10px;
}

.footer .footer__upper .footer__four .footer__list .footer__item {
  padding: 10px 0;
  list-style-type: none;
}

.footer .footer__upper .footer__four .footer__list .footer__item--text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.footer .footer__upper .footer__four .footer__list .footer__item--title {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-family: "Gilroy", sans-serif;
}

.footer .footer__lower {
  display: flex;
}

.footer .footer__lower .footer__list {
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  display: flex;
  padding-left: 0;
}

.footer .footer__lower .footer__list .footer__item {
  padding-left: 0;
}

.footer .footer__lower .footer__list .footer__item--text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.footer .footer__lower .footer__list .footer__item a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

@media (max-width: 767px) {
  .footer .footer__lower .footer__list {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }

  .footer__item--description {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 100px 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .footer__upper {
    display: flex;
    flex-wrap: wrap;
  }

  .footer .footer__upper .footer__one .footer__list {
    align-items: center;
  }

  .footer .footer__upper .footer__two .footer__list {
    align-items: center;
  }

  .footer .footer__upper .footer__three .footer__list {
    align-items: center;
  }

  .footer .footer__upper .footer__four .footer__list {
    align-items: center;
  }

  .footer .footer__lower {
    display: flex;
    padding: 0 23px;
  }
}

@media (max-width: 1024px) {
  .footer .footer__lower {
    display: flex;
    padding: 0 23px;
  }

  .footer {
    padding: 100px 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .footer__upper {
    display: flex;
  }

  .footer .footer__upper .footer__one {
    flex: 1 1 100%;
  }

  .footer .footer__upper .footer__two {
    flex: 1 1 100%;
  }

  .footer .footer__upper .footer__three {
    flex: 1 1 100%;
  }

  .footer .footer__upper .footer__four {
    flex: 1 1 100%;
  }
}

@media (max-width: 1440px) {
  .footer .footer__upper .footer__three .footer__list .footer__item .footer__social .footer__list .footer__item .footer__btn svg {
    height: 47px;
  }
}

.bloks {
  max-width: 69%;
  margin: auto;
  background-color: white;
  padding: 40px;
}

.bloks .bloks__wrapper {
  text-align: center;
}

.bloks .bloks__wrapper .bloks__title {
  font-weight: 700;
  text-decoration: none;
  color: black;
  font-family: "Gilroy", sans-serif;
  font-size: 30px;
}

.bloks .bloks__wrapper .bloks__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bloks .bloks__wrapper .bloks__list .bloks__item {
  flex: 1 1 33.3333%;
  padding: 0 30px;
}

.bloks .bloks__wrapper .bloks__list .bloks__item .bloks__content .bloks__item {
  text-align: center;
}

.bloks .bloks__wrapper .bloks__list .bloks__item .bloks__content .bloks__item svg {
  height: 100px;
  width: auto;
}

@media (max-width: 767px) {
  .bloks .bloks__wrapper .bloks__list .bloks__item {
    flex: 1 1 33.3333%;
    padding: 0px;
  }
}

.aboutme .aboutme__text {
  height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.aboutme .aboutme__text .aboutme__left {
  flex: 1 1 50%;
  background-color: #f2f2f2;
  padding: 29px 61px 99px 61px;
}

.aboutme .aboutme__text .aboutme__left .aboutme__text--h1 {
  font-size: 60px;
  padding-top: 32px;
  color: #5680E9;
  margin-bottom: 3px;
  margin-top: 0;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
}

.aboutme .aboutme__text .aboutme__left .aboutme__text--p {
  font-size: 20px;
  color: #5680E9;
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
}

.aboutme .aboutme__text .aboutme__left .aboutme__text--btn {
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #5680E9;
  color: #5680E9;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
  padding: 20px 30px;
}

.aboutme .aboutme__text .aboutme__right {
  flex: 1 1 50%;
}

.aboutme .aboutme__text .aboutme__right .aboutme__title {
  width: 100%;
  background: #000;
  margin-bottom: 100px;
}

.aboutme .aboutme__text .aboutme__right .aboutme__title--h1 {
  color: #fff;
  font-size: 60px;
  font-family: "Gilroy", sans-serif;
}

.aboutme .aboutme__text .aboutme__right .aboutme__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.aboutme .aboutme__text .aboutme__right .aboutme__wrapper .aboutme__photo {
  flex: 1 1 15%;
}

.aboutme .aboutme__text .aboutme__right .aboutme__wrapper .aboutme__photo svg {
  height: 227px;
  width: auto;
}

.aboutme .aboutme__text .aboutme__right .aboutme__wrapper .aboutme__photo p {
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
}

@media only screen and (min-width: 767px) and (max-width: 768px) {
  .aboutme .aboutme__text .aboutme__left {
    flex: 1 1 100%;
  }

  .aboutme .aboutme__text .aboutme__right {
    flex: 1 1 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .aboutme .aboutme__text .aboutme__left {
    flex: 1 1 100%;
  }

  .aboutme .aboutme__text .aboutme__right {
    flex: 1 1 100%;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  .aboutme .aboutme__text .aboutme__right .aboutme__wrapper .aboutme__photo {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .aboutme .aboutme__text .aboutme__right .aboutme__wrapper .aboutme__container {
    flex: 1 1 100%;
  }

  .aboutme .aboutme__text .aboutme__right .aboutme__title {
    margin-bottom: 27px;
  }
}

@media (min-width: 2561px) {
  .aboutme__photo {
    flex: 1 1 50%;
  }
}

* {
  margin: 0;
  padding: 0;
}

.aboutme__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-family: "Gilroy", sans-serif;
  flex: 1 1 50%;
}

.aboutme__container .card {
  position: relative;
  width: 250px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  margin-bottom: 20px;
}

.aboutme__container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.aboutme__container .card:before {
  position: absolute;
  content: "";
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
  z-index: 1;
}

.aboutme .percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.aboutme .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.aboutme .percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.aboutme .card:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}

.aboutme .percent .number h2 span {
  color: #777;
  font-size: 24px;
}

.aboutme .card:hover .percent .number h2 span {
  color: #fff;
}

.aboutme .text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text {
  color: #fff;
}

.aboutme svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

.aboutme svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.aboutme svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.aboutme .card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(883 - (440 * 50) / 100);
  stroke: #5680E9;
}

.aboutme .card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 25) / 100);
  stroke: #5AB9EA;
}

.aboutme .card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 25) / 100);
  stroke: #8860D0;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/code.jpg");
  /* The image used */
  height: 330px;
  /* You must set a specified height */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.banner .banner__text {
  height: 100%;
  text-align: center;
}

.banner .banner__text .banner__text--h1 {
  font-size: 80px;
  padding-top: 32px;
  text-decoration: underline;
  color: white;
  margin-bottom: 3px;
  margin-top: 0;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
}

.banner .banner__text .banner__text--p {
  font-size: 20px;
  color: white;
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
}

.banner .banner__text .banner__text--btn {
  font-size: 20px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
  padding: 20px 30px;
}

@media (max-width: 767px) {
  main .banner .banner__text .banner__text--h1 {
    font-size: 37px;
  }

  .banner .banner__text .banner__text--btn {
    font-size: 16px;
  }
}

@media only screen and (min-width: 767px) and (max-width: 768px) {
  main .banner .banner__text .banner__text--h1 {
    font-size: 50px;
  }

  .banner .banner__text .banner__text--btn {
    font-size: 16px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .banner .banner__text .banner__text--h1 {
    font-size: 60px;
  }
}

