.nav{
    display: flex;
    .nav__left{
        flex: 1 1 15%;
        .nav__list{
            display: flex;

            .nav__item{
                flex: 1 1 auto;
                list-style-type: none;
            }
        }
    }
    .nav__center{
        flex: 1 1 85%;

        .nav__list{
            display: flex;

            .nav__item{
                flex: 1 1 auto;
                list-style-type: none;
            }
        }
    }
}