.collaborated{
  
    * {
        // border: 1px solid red;
        font-size: 20px;
        font-family: 'Gilroy', sans-serif;
    }

    .collaborated__wrapper {
        max-width: 80%;
        margin: 0 auto;
        padding: 120px 0 140px 0;
        &--title {
            color: black;
            text-align: center;


            h1 {
                font-size: 32px;
            }
        }
        .collaborated__list{
            display: flex;
            list-style-type: none;
            padding-left: 0;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .collaborated__item{
                margin-top: 30px;
            flex: 0 1 25%;
            }

        }
    }
                
}