.investing {
    padding-bottom: 160px;
    border-bottom: 1px solid #E6ECF8;
    * {
        // border: 1px solid red;
        font-size: 20px;
        font-family: 'Gilroy', sans-serif;
    }

    .investing__wrapper {
        display: flex;
        justify-content: center;
        margin-top: 360px;

        .investing__content{
           text-align: center;
            .investing__title{
                text-align: center;
                h1{
                    font-size: 30px;
                    font-weight: 700;
                }
            
            }
            .investing__text{
                text-align: center;
                padding-bottom: 50px;
                p{
                    
                }
            
            }
    
            .investing__btn {
                
                padding: 14px 40px;
                border-radius: 50px;
                color: #7510F7;
                background-color: transparent;
                border: 3px solid #7510F7;
                text-decoration: none;
                font-size: 20px;
                font-weight: 500;
            }
        }

        
    }

    
}
