.projects {
    border-bottom: 1px solid #E6ECF8;
    * {
        // border: 1px solid red;
        font-size: 20px;
        font-family: 'Gilroy', sans-serif;
    }

    .project__wrapper {
            padding: 50px 0 130px 0;
        max-width: 80%;
        margin: 0 auto;

        &--title {
            color: black;
            text-align: center;
            padding: 71px 0;

            h1 {
                font-size: 40px;
                margin-bottom: 30px;
            }
            p{
                span{
                    color: #7510F7;
                    font-weight: 700;
                }
            }
        }
        &--bottom{
            text-align: center;
            padding: 90px 0 10px 0;
            .projects2__btn {
                padding: 12px 40px;
                border-radius: 50px;
                color: #7510F7;
                border: 3px solid #7510F7;
                text-decoration: none;
                font-size: 24px;
                font-weight: 500;
                
            }
        }
        

        .projects__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;
            padding-left: 0;

            .projects__item {
                padding: 10px 10px;
                flex: 1 1 33%;

                .projects__content {
                    position: relative;

                    
                    .projects__card {
                        .projects__top {
                            border-radius: 12px;
                            background-image: url("/images/ultraviolet.jpg");
                            /* The image used */
                            height: 300px;
                            /* You must set a specified height */
                            background-position: center;
                            /* Center the image */
                            background-repeat: no-repeat;
                            /* Do not repeat the image */
                            background-size: cover;

                        }
                    }
                }
            }
        }
    }


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  opacity: 0;
  transition: .5s ease;
  background-color: #141c3a;
}

.projects__content:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 31%;
    left: 50%;
    right: -24%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.projects__btn {
    padding: 10px 40px;
    border-radius: 50px;
    color: white;
    border: 3px solid #7510F7;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 74%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 767px) and (max-width: 768px) {}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 769px) and (max-width: 1024px) {}

// X-Large devices (large desktops, 1200px and up)
@media only screen and (min-width:1025px) and (max-width: 1440px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 2560px) {}

@media (min-width: 2561px) {}
