.projects {
    * {
        border: 1px solid red;
        font-size: 20px;
        font-family: 'Gilroy', sans-serif;
    }

    .project__wrapper {
        padding: 50px 0;
        max-width: 80%;
        margin: 0 auto;

        .projects__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style-type: none;

            .projects__item {
                padding: 10px 10px;
                flex: 1 1 33%;

                .projects__content {
                    .projects__card {
                      
                        border-radius: 12px;
                        background-color: #b2b2b2;
                            color: white;
                        .projects__top {
                          
                            border-top-left-radius: 12px;
                            border-top-right-radius: 12px;
                            background-image: url("/images/code.jpg");
                            /* The image used */
                            height: 400px;
                            /* You must set a specified height */
                            background-position: center;
                            /* Center the image */
                            background-repeat: no-repeat;
                            /* Do not repeat the image */

                        }

                        .projects__bottem {
                            padding: 10px;
                            
                        }
                    }
                }
            }
        }
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    .modal__left{width: 100%;}
    .modal__right{width: 100%;}
  }
 
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 767px) {}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 767px) and (max-width: 768px) {}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 769px) and (max-width: 1024px) {}

// X-Large devices (large desktops, 1200px and up)
@media only screen and (min-width:1025px) and (max-width: 1440px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 2560px) {}

@media (min-width: 2561px) {}
